<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/vinbudin.log</File>
		<Append>true</Append>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/vinbudin-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset class="java.nio.charset.Charset">UTF-8</charset>
			<pattern>%d|%-10t|%-5p|%c{40}: %m%n</pattern>
		</encoder>

	</appender>
	
	<appender name="PAPERTRAIL" class="ch.qos.logback.classic.net.SyslogAppender">
		<syslogHost>logs2.papertrailapp.com</syslogHost>
		<port>44096</port>
		<facility>USER</facility>
		<suffixPattern>%thread: %-5level %logger{36} - %msg%n</suffixPattern>
	</appender>

	<appender name="LOGENTRIES" class="com.logentries.logback.LogentriesAppender">
		<Debug>false</Debug>
		<Token>8d6b4f57-cfbf-4ed1-96cb-a4af639af6d5</Token>
		<Ssl>false</Ssl>
		<facility>USER</facility>
		<layout>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
	</appender>
	
	<appender name="AIRBRAKE" class="net.anthavio.airbrake.AirbrakeLogbackAppender">
		<apiKey>23a6223a7049b15c09f01cfa7922a390</apiKey>
		<env>test</env>
		<notify>ALL</notify>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>warn</level> 
		</filter>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset class="java.nio.charset.Charset">UTF-8</charset>
			<pattern>%d|%-10t|%-5p|%c{40}: %m%n</pattern>
		</encoder>
		
	</appender>
	
	<logger name="org.apache.http.wire">
		<level value="info"/>
	</logger>
	
	<logger name="org.springframework.web">
		<level value="info"/>
	</logger>

	<logger name="net.anthavio">
		<level value="info"/>
	</logger>
		
	<root>
		<level value="info" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="LOGFILE" />
		<appender-ref ref="PAPERTRAIL" />
		<appender-ref ref="LOGENTRIES" />
		<appender-ref ref="AIRBRAKE" />
	</root>
	
</configuration>
