<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="10 seconds">
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset class="java.nio.charset.Charset">UTF-8</charset>
			<pattern>%d|%-10t|%-5p|%c{40}: %m%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.apache.http.wire">
		<level value="debug"/>
	</logger>
	
	<logger name="org.springframework.web">
		<level value="info"/>
	</logger>

	<logger name="net.anthavio">
		<level value="debug"/>
	</logger>
		
	<root>
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</root>
	
</configuration>
